.btnAction_start {
  width: 120px;
  height: 50px;
  background-color: #c27210;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
}
.btnAction_start:hover {
  background-color: black;
  color: bisque;
  border: 1px solid white;
}
